name: Data

on:
  schedule:
    - cron: 0 8 * * 1
  workflow_dispatch:

jobs:
  populate:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Check out repository
        uses: actions/checkout@v3.5.3

      - name: Set up Python 3.10
        uses: actions/setup-python@v4.6.1
        with:
          python-version: "3.10"
          cache: pip
          cache-dependency-path: data/requirements.txt

      - name: Install Python dependencies
        run: pip install -r data/requirements.txt

      - name: Populate data for PDX
        run: python data/pdx/populate.py -v
        env:
          TRIMET_APP_ID: ${{ secrets.TRIMET_APP_ID }}

      - name: Auto-commit any changes
        uses: stefanzweifel/git-auto-commit-action@v4.16.0
        with:
          commit_author:
            github-actions[bot] <github-actions[bot]@users.noreply.github.com>
          commit_message: Update data files
